#-------------------------
# Operating Specific Junk Files
#-------------------------

# OS X
.DS_Store
.AppleDouble
.LSOverride

# OS X Thumbnails
._*

# Windows image file caches
Thumbs.db
ehthumbs.db
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Linux
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

#-------------------------
# Environment Files
#-------------------------
# These should never be under version control,
# as it poses a security risk.
.env
.vagrant
Vagrantfile

#-------------------------
# Temporary Files
#-------------------------
writable/cache/*
!writable/cache/index.html

writable/logs/*
!writable/logs/index.html

writable/session/*
!writable/session/index.html

writable/uploads/*
!writable/uploads/index.html

writable/debugbar/*

php_errors.log

#-------------------------
# User Guide Temp Files
#-------------------------
user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#-------------------------
# Test Files
#-------------------------
tests/coverage*

# Don't save phpunit under version control.
phpunit

#-------------------------
# Composer
#-------------------------
vendor/

#-------------------------
# IDE / Development Files
#-------------------------

# Modules Testing
_modules/*

# phpenv local config
.php-version

# Jetbrains editors (PHPStorm, etc)
.idea/
*.iml

# Netbeans
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/

# Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
.phpintel
/api/

# Visual Studio Code
.vscode/

/results/
/phpunit*.xml
/.phpunit.*.cache

public/uploads/1622446741_image-20210531143901-1.png
public/uploads/1622446837_a1.png
public/uploads/1622446894_a1.png
public/uploads/1622447115_image-20210531144515-1.png
public/uploads/1622447116_image-20210531144515-2.png
public/uploads/1622447116_image-20210531144515-3.png
public/uploads/1622447116_image-20210531144515-4.png
public/uploads/1622447116_image-20210531144515-5.png
public/uploads/1622447116_image-20210531144515-6.png
public/uploads/1622447116_image-20210531144515-7.png
public/uploads/1622447116_image-20210531144515-8.png
public/uploads/1622447116_image-20210531144515-9.png
public/uploads/1622447116_image-20210531144515-10.png
public/uploads/1622447116_image-20210531144515-11.png
public/uploads/1622447116_image-20210531144515-12.png
public/uploads/1622447116_image-20210531144515-13.png
public/uploads/1622447116_image-20210531144515-14.png
public/uploads/1622447116_image-20210531144515-15.png
public/uploads/1622447116_image-20210531144515-16.png
public/uploads/1622447116_image-20210531144515-17.png
public/uploads/1622447116_image-20210531144515-18.png
public/uploads/1622447116_image-20210531144515-19.png
public/uploads/1622451637_image-20210531160037-1.png
public/uploads/1622451767_image-20210531160246-2.png
public/uploads/1622451767_image-20210531160246-3.png
public/uploads/1622451767_image-20210531160246-4.png
public/uploads/1622451767_image-20210531160246-5.png
public/uploads/cover/1622617247_a1.png
public/uploads/cover/1622617361_Annotation 2020-02-04 092602.png
public/uploads/cover/1622618573_Annotation 2020-02-04 092602.png
public/uploads/cover/1622618589_Annotation 2020-02-04 092602.png
public/uploads/cover/1622694986_Screenshot 2021-01-17 131244.png
public/uploads/cover/1622695019_Annotation 2020-02-04 092602.png
public/assets/js/page/detailsNews.js
public/uploads/1623120447_image-20210608094727-1.png
public/uploads/1623120447_image-20210608094727-2.png
public/uploads/1623120447_image-20210608094727-3.png
public/uploads/1623121407_image-20210608100327-4.png
public/uploads/1623121407_image-20210608100327-5.png
public/uploads/1623121407_image-20210608100327-6.png
public/uploads/1623126931_a2.png
public/uploads/cover/1623120491_Jaringan Semantik.png
public/uploads/cover/1623126970_Annotation 2020-02-04 092602.png
app/Controllers/Product.php
public/uploads/cover/1623224864_logotni.png
.gitignore
public/uploads/1623224829_WIN_20201125_14_01_52_Pro.jpg
public/uploads/cover/1623295349_Annotation 2020-02-04 092602.png
public/uploads/users/admin.png
